@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

@mixin videoPreviewContainer{
  //width: 100%;
  margin-right: 30px;

  display: grid;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //flex:0.33;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 25px;
  position: relative;

}
@mixin authorizationContainer ($width,$height:300px){
  min-height: 100vh;
  position: relative;
  display: flex;
  &_container{
  margin: auto auto;
  display: flex;
  flex-direction: column;
  width: $width;
  padding: 40px;
  border-radius: 10px;
  height: $height;
  border: 1px solid #e1e1e1;
  }
}